<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="chart">
        <div id="part1">
            <div id="chartdiv">
            </div>
            
            <h1 id="phed"></h1>

        </div>
        <div id="part2">
            <iframe title="cars" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiOWQyMDkxNjEtNjkzNC00MGYyLTk5YmEtZmQxYmFmMGI1NTFmIiwidCI6IjM1ODA0OGExLTMxODUtNDc0ZS04NThjLWE5Mzg0MGE0NjU5ZiJ9" frameborder="0" allowFullScreen="true"></iframe>
            
        </div>
    </div>
    
    <!-- Pass prediction result to JavaScript -->
    <input type="hidden" id="prediction-result" value="{{ prediction }}">
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
